@font-face {
    font-family: Overpass-Bold;
    src: url("../fonts/overpass-bold.otf") format("truetype");
}

@font-face {
    font-family: Overpass-Semibold;
    src: url("../fonts/overpass-semibold.otf") format("truetype");
}

@font-face {
    font-family: Overpass-Regular;
    src: url("../fonts/overpass-regular.otf") format("truetype");
}

@font-face {
    font-family: Overpass-Heavy;
    src: url("../fonts/overpass-heavy.otf") format("truetype");
}

@font-face {
    font-family: Overpass-Light;
    src: url("../fonts/overpass-light.otf") format("truetype");
}

body {
    font-family: Overpass-Bold;
}

header {
    background-color: #fff !important;
    width: 100vw;
    position: fixed;
    z-index: 100;
    top: 0;
    border-bottom: solid 2px #2f1d56;
}

section {
    width: 100%;
    margin-top: 74px;
    min-height: calc(100vh - 423px);
}

footer {
    background-color: #2f1d56;
    color: #fff;
    padding: 50px 0px 50px 0px;
}

footer .category-label {
    font-family: Overpass-Heavy;
}

.font-weight-lighter {
    font-family: Overpass-Light !important;
}

.font-weight-normal {
    font-family: Overpass-Regular !important;
}

.font-weight-bold {
    font-family: Overpass-Bold !important;
}

.font-small {
    font-size: 15px;
}

.overpass-heavy {
    font-family: Overpass-Heavy !important;
}

.float-right {
    float: right;
}

p {
    font-family: Overpass-Regular;
    font-size: 16px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

.navbar-light, .jumbotron {
    background-color: #fff !important;
}

.navContainer {
    width: 100%;
    max-width: 100%;
}

.navbar-dark, .jumbotron {
    background-color: #f4f4f4 !important;
}

.navbar-brand {
    font-family: Overpass-Bold;
    font-size: 28px;
    margin-right: calc(50% - 155px);
    /* margin-right: calc(50% - 320px); */
}
.navbar-right {
    font-family: Overpass-Bold;
    font-size: 28px;
    margin-left: calc(50% - 155px);
    /* margin-right: calc(50% - 320px); */
}

.navbar {
    padding: 13px 10px 9px 10px; 
    /*background-color: #f4f4f4 !important; FOR GRAY NAV BG? */ 
/*
    border-bottom-style: groove; 
    border-bottom-color: #2f1d56;
*/
}

.nav-link {
    font-family: Overpass-Semibold;
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: inherit;
    text-align: center;
    padding: 9px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
   /* outline-style: solid; */

}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: contents;
}

.section-first {
    width: 100%;
    background-color: #2f1d56;
}

.about .section-first {
    background-color: #fff;
}

.section-first .container {
    padding: 56px 0px 56px 0;
}

.section-second .text-content {
    color: #000 !important;
}

.about .section-second img {
    border-radius: 4px;
}

.section-third {
    background-color: #f7f7f7;
    width: 100%;
    padding: 50px 0px 40px 0px;
}

.section-forth {
    padding: 70px 0px;
}

.section-forth .container div {
    color: #000 !important;
}

.text-content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff !important;
}

.about .text-content{
    color: #000 !important;
}

.text-content > div {
    margin: 15px 0px;
}

.btn-success {
    background-color: #76f2a6;
    color: #000 !important;    
    font-size: 18px;
    border-radius: 8px;
    padding: 13px 18px 10px 18px;
    font-family: Overpass-Semibold;
    border: unset !important;
}

.category-label {
    font-family: Overpass-Bold;
    font-size: 20px;
    margin-bottom: 15px;
}

.img-box {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 11px;
}

.jumbotron {
    margin-bottom: unset !important;
}

@media (max-width: 576px) {
    iframe {
        height: 60vw;
    }

    .navbar-brand {
        margin-right: unset;
    }
}

@media (min-width: 576px) {
    iframe {
        height: 320px;
    }

    .jumbotron {
        padding: 3.4em 2em 2.9em 2em;
    }
}

@media (min-width: 768px) {
    iframe {
        height: 480px;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    iframe {
        height: 350px;
    }

    .section-first .container > div {
        display: flex;
    }

    .section-first .text-content {
        padding-right: 11%;
    }

    .about .text-content {
        padding-right: 15px;
    }
}

input[type='checkbox'] {
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute;
    margin: 0;
    z-index: -1;
    left: 0;
    pointer-events: none;
}

.form-check .form-check-sign {
    vertical-align: middle;
    position: relative;
    top: -2px;
    padding-right: 10px;
    display: inline-block;
}

.form-check .form-check-label span {
    display: block;
    position: absolute;
    left: 0px;
    top: .2px;
    height: 20px;
    width: 20px;
    transition: box-shadow .3;
}

.form-check .form-check-input:checked+.form-check-sign .check {
    background: rgba(0,0,0,.74);
}

.form-check .form-check-sign .check {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0,0,0,.74);
    overflow: hidden;
    z-index: 1;
    border-radius: 3px;
}

.form-check .form-check-sign .check:before {
    position: absolute;
    content: "";
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    margin-top: -3px;
    margin-left: 7px;
    width: 0;
    color: #fff;
    height: 0;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
    -webkit-animation: .3s forwards checkbox-off;
    animation: .3s forwards checkbox-off;
}

.form-check .form-check-input:checked+.form-check-sign .check:before {
    color: #fff;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    -webkit-animation: .3s forwards checkbox-on;
    animation: .3s forwards checkbox-on;
}

#signupModal input.form-control {
    border: 1px solid rgba(0,0,0,.74);
}

#signupModal .modal-header .close {
    outline: none;
}

#signupModal .form-check > div a {
    color: b
}

.signup-modal {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
@media (min-width: 400px) {
    #signupModal .modal-dialog {
        max-width: 320px;
        margin: -10px auto 1.75rem auto;
    }
}

input {
    padding: .55rem .75rem .375rem .75rem !important;
}

.team-item,
.team-wrap,
.team-content,
.team-content-social {
    transition: all .4s ease-in-out;
}

.team-item {
    position: relative;
    border-radius: .1875rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .1);
    margin: 0 0 30px;
}

.team-item img {
    border-radius: .1875rem;
    width: 100%;
}

.team-wrap {
    background: rgba(34, 34, 34, .6);
    position: absolute;
    border-radius: .1875rem;
    top: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.team-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px;
    transform: translateY(-10px);
}

.team-name {
    font-size: .8125rem;
    margin-bottom: 2px;
}

.team-role {
    font-size: .75rem;
    opacity: .6;
}

.team-name,
.team-role {
    color: #fff;
}

.team-content-social {
    text-align: center;
    list-style: none;
    padding: 20px;
    margin: 0;
    transform: translateY(-10px);
    position: absolute;
    right: 0;
}

.team-content-social li {
    margin-bottom: 5px;
}

.team-content-social li a {
    color: #fff;
}

.team-content-social li a:hover {
    opacity: .6;
}

.team-item:hover {
    transform: translateY(-3px);
}

.team-item:hover .team-wrap {
    opacity: 1;
}

.team-item:hover .team-content,
.team-item:hover .team-content-social {
    transform: translateY(0);
}

   .col-lg-4 {
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-md-6 {
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
        max-width: 25%;
    }
.icon-box {
    padding: 20px 0;
}

.icon-box .icon-box-icon {
    font-size: 2.375rem;
    margin: 0 0 10px;
    color: #505cfd;
    transition: all .3s ease-in-out;
}

.icon-box .icon-box-title h6 {
    margin: 0 0 12px;
}

.icon-box .icon-box-content > *:last-child {
    margin-bottom: 0;
}

.icon-box .icon-box-link {
    margin: 10px 0 0;
}

.icon-box:hover .icon-box-icon {
    transform: translateY(-10px);
}

.icon-box-left {
    position: relative;
    padding-left: 60px;
    text-align: left;
}

.icon-box-left .icon-box-icon {
    position: absolute;
    height: 38px;
    width: 38px;
    left: 0;
    text-align: center !important;
    line-height: 2.375rem;
    font-size: 2.1875rem;
}

